.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.vscode/
bin/
.DS_Store
classes
out/
.scannerwork/
*.swp
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
